:root {
	--blue: rgb(24, 144, 255);
}

.title-bar {
	font-family: "Pretendard-bold";
	display: flex;
	position: fixed;
	top: 0;
	z-index: 1;
	text-align: left;
	align-items: center;
	padding-left: 10px;
	height: 3.5rem;
	width: 100%;
	color: var(--blue);
	background-color: white;
}

.title-bar h2 {
	margin: 0;
}

.back-button {
	border: none; /* 테두리 제거 */
	background-color: transparent; /* 배경색 투명 */
	cursor: pointer; /* 커서 모양 변경 */
	font-size: 24px; /* 아이콘 크기 */
	color: #333; /* 아이콘 색상 */
	padding: 8px 12px; /* 패딩 설정 */
	border-radius: 4px; /* 모서리 둥글게 */
	transition: color 0.3s; /* 색상 변경 애니메이션 효과 */
	height: 100%;
}

.back-button::before {
	content: ""; /* 가상 요소의 내용 */
	position: absolute; /* 절대 위치 설정 */
	left: 25px; /* 왼쪽으로부터의 거리 */
	top: 43%; /* 상위 요소 대비 상단 위치 */
	transform: translateY(-50%) rotate(45deg); /* 위치 조정 및 회전 */
	width: 10px; /* 가로 길이 */
	height: 10px; /* 세로 길이 */
	border-top: 2px solid #333; /* 상단 테두리 */
	border-left: 2px solid #333; /* 왼쪽 테두리 */
	rotate: 270deg;
}
.back-button:hover {
	background-color: #e0e0e0; /* 호버 시 배경색 변경 */
}
