.distanceInputContainer {
    display: flex;
    gap: 20px;
    width: 100vw;
    height: 100vw;
    background-image: url('../../../assets/pace-background.png');
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: calc(90vw) calc(90vw);
    justify-content: center;
    align-items: center;
}

.distanceInput {
    justify-content: center;
    width: 40px;
    height: 50px;
    font-size: 1rem;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-right: 10px;
    transition:
        border-color 0.3s ease,
        background-color 0.3s ease;
    background: none;
    color: white;
}

.distanceInput:focus {
    border-color: #1890ff;
    outline: none;
}

.distanceInput {
    font-family: "Pretendard-bold";
}