.distanceInputContainer {
    display: flex;
    gap: 20px;
    width: 100vw;
    height: 100vw;
    max-width: 480px;
    /* 480px 이상의 뷰포트에서는 크기가 더 이상 늘어나지 않음 */
    max-height: 20rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: calc(95vw) calc(90vw);
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.distanceInputContainer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../../assets/pace-background.png');
    background-size: calc(95vw) calc(90vw);
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(3px);
    opacity: 0.9;
    z-index: -1;
}

/* 480px 이상의 화면에서는 제한된 중앙 배치 */
@media (min-width: 480px) {
    .distanceInputContainer::before {
        background-size: 320px 320px
    }
}


.distanceInput {
    justify-content: center;
    width: 40px;
    height: 50px;
    font-size: 2rem;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-right: 10px;
    transition:
        border-color 0.3s ease,
        background-color 0.3s ease;
    background: none;
    color: white;
    padding: 0;
}

.distanceInput:focus {
    border-color: #1890ff;
    outline: none;
}

.distanceInput {
    font-family: "Pretendard-bold";
}