.container {
    background-image: url("/public/img/scenario_1/scenario_1_background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    max-width: 480px;
    left: 50%;
    transform: translate(-50%, 0);
}

.profile {
    margin-top: 25vh;
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;
}

.info-container {
    width: 60vw;
    height: 20vh;
    margin: 0 auto;
    margin-top: 10vh;
    word-break: keep-all;
}

.name {
    font-weight: bold;
    font-size: x-large;
    line-height: 5rem;
}

.description {
    color: #909090;
    line-height: 1.5rem;
}

.step {
    margin-top: 2rem;
}

.step svg {
    margin: 0.8rem;
    transform: all 1s;
}

.step svg circle {
    fill: #909090;
    transform: all 1s;
}

.step svg circle.active {
    fill: white;
}

.step svg.active {
    margin: 0;
}

.container button {
    /* Group 222 */

    position: fixed;
    width: 188px;
    height: 50px;
    bottom: 5vh;
    left: 50%;
    transform: translate(-50%, 0);
    background: rgba(245, 182, 93, 0.3);
    box-shadow: 0px 4px 20px rgba(245, 182, 93, 0.3);
    border-radius: 30px;
    color: white;
}