.bitter-large {
	font-family: "Bitter", serif;
	font-optical-sizing: auto;
	font-weight: 900;
	font-size: 3rem;
	margin: 0 3px;
}

.achived {
	/* color: #1890ff; */
	font-size: xx-large;
	vertical-align: text-bottom;
}
