.button {
    /* Rectangle 3049 */

    width: 100px;
    height: 50px;
    padding: 10px;

    background: rgba(245, 182, 93, 0.35);
    border-radius: 25px;
    z-index: 1;
    color: white;
    font-size: 0.8rem;
}

.button.active {
    background-color: rgba(245, 182, 93, 0.55)
}

.button:focus {
    outline: 1px solid rgba(245, 182, 93, 0.8);
}

.button:hover {
    border-color: rgba(245, 182, 93, 0.55);
    background-color: rgba(245, 182, 93, 0.35);
}