.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('/img/alarm.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    overflow: hidden;
}

.CountdownContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.Countdown {
    font-size: 5rem;
    color: #1890FF;
    font-family: "Pretendard-bold";
    animation: countdown 1s linear infinite;
}

@keyframes countdown {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
