.Container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 85vh;
	background-image: url("/src/assets/defaultpage_background.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100vh;
	max-width: 480px;
	left: 50%;
	transform: translate(-50%, 0);
}

.Content-Wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.bottom-Wrap {
	margin-top: 70px;
}

.SignupWrap {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 30px;
}

.SignupText {
	color: #92a3b2;
	font-size: 14px;
	font-weight: bold;
	border: none;
}

.Signupbtn {
	color: #1890ff;
	font-size: 14px;
	font-weight: bold;
	border: none;
	background-color: white;
	text-decoration: underline;
}