.Container {
	display: flex;
	flex-direction: column;
	min-height: 85vh;
	height: 91vh;
}

.Container h3 {
	font-size: 20px;
	/* 원하는 폰트 크기 */
	font-weight: 700;
	/* 원하는 폰트 두께 */
	padding: 2rem;
	font-family: "Pretendard-Bold";
}

.Content-Container {
	flex-grow: 1;
}

input::placeholder {
	font-size: 12px;
	font-family: "Pretendard-regular";
}

.StepIndicator {
	margin-top: -50px;
	margin-bottom: 50px;
}

.ActiveStep {
	color: #FFFFFF;
	/* 현재 단계 흰색 */
	font-weight: bold;
	text-decoration: underline;
}

.InactiveStep {
	color: #6F6F6F;
	/* 비활성 단계 회색 */
}

.TextBoxWrap {
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
	align-items: center;
}

.InputField {
	width: 276px;
	height: 50px;
	background: #000000;
	box-shadow: inset 0px 0px 15px 3px rgba(247, 176, 75, 0.2);
	border-radius: 45.0413px;
	border: none;
	padding-left: 20px;
	color: rgb(245, 182, 93);
}

.SignupWrap {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
}

.SignupText {
	color: #92a3b2;
	font-size: 14px;
	font-weight: bold;
	border: none;
}

.Signupbtn {
	font-size: 14px;
	font-weight: bold;
	border: none;
	text-decoration: underline;
}

.Success-Container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 85vh;
	background-image: url("/src/assets/defaultpage_background.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100vh;
	max-width: 480px;
	left: 50%;
	transform: translate(-50%, 0);
}

.Content-Wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}

.Content-Wrap h2 {
	font-family: "Chosunilbo_myungjo";
}

.Button-Wrap {
	margin-bottom: 50px;
}

.bottom-Wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: end;
	padding: 30px;
}

.LoginText {
	margin-top: -37px;
}