.background-image {
    background-image: url("../../assets/scenario_header_background.png");
    background-size: cover;
    height: 35vh;
    padding: 20px;


    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.2);

}